
<div class="container" *ngIf="hasResponse">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
  
              <div class="card hovercard">
                  <div class="cardheader">
  
                  </div>
                  <div class="avatar">
                      <img alt="" src="http://localhost:3000/uploads/{{profile.img}}">
                  </div>
                  <div class="info">
                      <div class="title">
                          <a target="_blank" href="http://scripteden.com/">{{profile.name}}</a>
                      </div>
                      <div class="desc">{{profile.email
                        }}</div>
                      <div class="desc">{{profile.location}}</div>
                      <div class="desc">{{profile.phoneno}}</div>
                  </div>
            
              </div>
  
          </div>
  
    </div>
  </div>